@font-face {
    font-family: myFont;
    src: url(../assets/HelveticaNeue.ttc);
  }
  @media screen and (max-width: 800px) {
    .mainButtonMother {
        width: 220px;
    }
    .mainButton h2{
        padding: 2px;
    }
    .logo {
       width: auto;
    }
   } 

* {
    box-sizing: border-box;
  }
a {
    text-decoration: none;
}

html {
    height: 100%;
    margin: 0;
    font-family: myFont;
}
body {
    height: 100vh;
    margin: 0;
    font-family: myFont;
}

.flexHeight100 {
        display: flex;
        height: 100%;
    }
.container {
    background-image: url(../images/background.png),url(../images/logo2.svg) ;
    height: 100%;
    background-size: cover, 299px;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    background-position-x: center, 65%;
    background-position-y: center, 55%;
}
.logo {
    width: 236px;
    height: 38px;
    margin: 25px 0 0 70px;
}
.line {
    height: 2px;
    width: auto;
    background-color: #1A1A1A; 
    margin:0 70px 0 70px;
}
.button_container {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 80%;
}
.mainButton {
    position: relative;
    background-color: #1A1A1A;
    width: 464px;
    height: 60px;
    color: white;
    cursor:pointer;
    border-radius: 8px;
}
.mainButtonMother {
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
.mainButton h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: myFont;
    color: white;
}
/* Page N1 */
.leftContainer {
    background-color: #f5f2f2;
    width: 57%;
    min-height: 100%;
    margin: 0;
}
.resultsContainer {
    width: 43%;
    min-height: 100%;
    margin: 0;
}
.section_1 {
    display: flex;
    margin-right: 150px;
}
.icon {
    width: 40px;
    height: 40px;
    margin: 45px 61px 0 48px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.iconBox {
    width: 150px;
}
.titleBox {
    display: flex;
    justify-content: space-between;
    max-width: 790px;
    width: 100%;
}
.titleBox h1 {
    align-self:flex-end;
    margin-bottom:0px;
}
.titleBox p {
    align-self:flex-end;
    margin-bottom:0px;
}

.pageTitle {
    font-size: 0.6vw;
    font-style: bold;
    font-family: myFont; 
    margin-right: 650px;
    display: flex;
    align-items: center;
}
.page_counter {
    font-size: 20px;
}

.line2 {
    background-color: black;
    margin:0 150px 0 150px;
    height: 2px;
    width: auto;
    margin:0 150px 0 150px;
}
.formInfo {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-family: myFont;
}
.width_798px {
    width: 798px;
}

.inputLable {
    font-size: 16px;
    font-weight: 500;
    font-family: myFont;
    font-style: bold;
}

.infoInputs input {
    width: 798px;
    height: 48px;
    border: solid #BCBCBC 1px;
    margin-top: 8px;
    display: inline-block;
}
textarea {
    width: 798px;
    height: 103px;
    border: solid #BCBCBC 1px;
    margin-top: 8px;
}
.textarea2 {
    height: 179px;
}
.textarea1 {
    height: 123px;
}
.infoInputss {
    margin-bottom: 30px;
    display: inline-block;
}
.uploadPic {
    font-size: 16px;
    font-family: myFont;
    font-weight: 500;
}
.picB {
    background-color: #0E80BF;
    text-align: center;
    color: white;
    border-radius: 4px;
    width: 107px;
    height: 27px;
    margin-left: 19px;
    font-size: 14px;   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;    
}
.buttonMother {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;    
    align-items: center;

}
.spaceBetween {
    width: 798px;
    display: flex;
    justify-content: space-between;
}
.shortInput input, select {
    width:  371px;
    height: 48px;
    border: solid #BCBCBC 1px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px; 
    margin-top: 8px;
    display: inline-block;
}
.shortInput {
    margin: 0px;
}
textarea {
    border: solid #BCBCBC 1px;
    resize:none;
}
.spaceBetween {
    margin-bottom: 33px;
}
.me {
    width: 246px;
    height: 246px;
    border-radius: 50%;
    object-fit: cover;

}
.infoResult {
    margin: 68px 0 0 80px;
}
.infoResult h1,h2 {
    color: #F93B1D;
}
.imageResult {
    margin: 48px 75px 0 0;
}
.emailResult {
    margin: 0;
    padding: 0;
}
.phoneResult {
    margin: 0;
    padding: 0;
}
/* Page_2 styles */

.test {
    display: flex;
    justify-content: space-between;

}
.test1, .test2 {
    margin: 0 150px 0 150px;
    display: inline-block;
    max-width: 348px;

}
.test1 input {
    width: 100%;
    height: 48px;
    border: solid #BCBCBC 1px;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}
.test2 input {
    width: 100%;
    height: 48px;
    border: solid #BCBCBC 1px;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}
.line3 {
    background-color: #C1C1C1;
    height: 2px;
    width: auto;
    margin: 53px 0 45px 0;
}
.navigation-button {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 180px;

}
.backButton, .nextButton {
    background-color: #6B40E3;
    width: 151px;
    height: 48px;
    color: white;
    font-family: myFont;
    cursor:pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.nextButton1 {
    background-color: #6B40E3;
    width: 151px;
    height: 48px;
    color: white;
    font-family: myFont;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer; 
    float: right;
    border: none;
    margin-top: 174px;
}
.addExperience {
    background-color: #62A1EB;
    width: 289px;
    height: 48px;
    font-size: 16px;
    padding: 14px;
    line-height: 20px;
    font-weight: 500;
    color: white;
    cursor:pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.result_section_1 {
    display: flex;
    justify-content: space-between;
}
.line4 {
    background-color: #C1C1C1;
    height: 2px;
    width: auto;
}
.result_section_2 {
    margin: 19px 80px 0 80px;
}
.result_section_2 h2 {
    color: #F93B1D;
}
.resultDate {
    color: #909090;
    font-size: 16px;
    font-weight: 400;
}
.section_2 {
    display: flex;
    justify-content: center;
    margin-top: 77px;
}
.email_icon {
    width: 16px;
    color: gray;
    margin-right: 11px;
}
.phone_icon {
    width: 16px;
    margin-right: 11px;
 }
.displayFlex {
    display: flex;
}
.validation-error input {
    border:2px red solid;
}
.validation-error {
    color: red;
}
.validation-done {
    color: black;
}
.errorSign {
    width: 21px;
    float: right;
    vertical-align: middle;
    visibility: hidden;
}
.middle {
    display: inline-block;
    vertical-align: middle;
}
.validation-error .errorSign {
    visibility: visible;
}
.validation-error textarea{
    border: red solid 2px;
}
.validation-done textarea {
    border: lightgreen solid 2px;
}
.validation-done select{
    border: 2px lightgreen solid;
}
.validation-done input{
    border: 2px lightgreen solid;
}
.aboutMeTiTle {
    display: none;
}
.title-result .aboutMeTiTle {
    display: block;
}

.validation-error select{
    border: red solid 2px;
}
.decorationNone {
    all: unset;
}